.action {
  align-items: center;
  cursor: pointer;
  display: grid;
  font: var(--font-annotation);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  text-transform: uppercase;
  height: var(--size-l);
}
.label {
  color: var(--theme-text);
  transition: color 0.2s;
}
.action:focus,
.action:hover {
  --theme-text: var(--theme-accent);
}
