.textInput {
  --theme-background: var(--color-ghost);
}
@media (prefers-color-scheme: dark) {
  .textInput {
    --theme-background: var(--color-dune);
  }
}
.textInput {
  background: var(--theme-background);
  border: none;
  border-radius: var(--radius-m);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
  caret-color: var(--theme-muted);
  display: block;
  width: 100%;
  font: var(--font-body);
  padding: var(--size-xs) 0;
  text-indent: var(--size-s);
  transition: box-shadow 0.2s;
}
.textInput::placeholder {
  color: var(--theme-muted);
  font: var(--font-body-italic);
}
.textInput:hover,
.textInput:focus {
  box-shadow: inset 0 0 0 var(--size-xxxs) var(--theme-accent);
}
