.menu {
  background: var(--theme-background);
  border-radius: 6px;
  position: absolute;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  display: grid;
}
.item {
  padding: var(--size-xs) var(--size-s);
}
.item:focus {
  background: var(--theme-highlight);
  outline: none;
}
