.huePicker {
  display: grid;
  grid-template-columns: 24px 4ch 1fr;
  column-gap: 3px;
  font: var(--font-small);
  align-items: center;
}
.swatch {
  fill: #000;
  width: 48px;
  height: 24px;
}
.input {
  -moz-appearance: textfield;
  font: var(--font-small);
  text-align: center;
}
.input::after {
  content: "°";
  display: inline;
  background: red;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.slider::-webkit-slider-runnable-track {
  background: var(--theme-border);
  border-radius: 1px;
  height: 2px;
}
.slider::-moz-range-track {
  background: var(--theme-border);
  border-radius: 1px;
  height: 2px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 16px;
  background: var(--theme-text);
  border: none;
  border-radius: 50%;
  width: 16px;
  margin-top: -7px;
  transition: background-color 0.2s;
}
.slider::-moz-range-thumb {
  cursor: pointer;
  height: 16px;
  background: var(--theme-text);
  border: none;
  border-radius: 50%;
  width: 16px;
  margin-top: -7px;
  transition: background-color 0.2s;
}
.input:focus + .slider::-webkit-slider-thumb,
.slider:hover::-webkit-slider-thumb,
.slider:focus::-webkit-slider-thumb {
  background: var(--theme-accent);
}
.input:focus + .slider::-moz-range-thumb,
.slider:hover::-moz-range-thumb,
.slider:focus::-moz-range-thumb {
  background: var(--theme-accent);
}
