.radioButton {
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  border: var(--size-xxxs) solid var(--theme-muted);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-l);
  transition: border-color 0.2s;
  position: relative;
}
.radioButton:focus,
.radioButton:hover {
  border-color: var(--theme-accent);
}
.radioButton:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--theme-text);
  box-shadow: inset 0 0 0 2px var(--theme-background);
  border-radius: var(--radius-l);
  transition: background-color 0.2s;
}
.radioButton:checked:focus::before,
.radioButton:checked:hover::before {
  background: var(--theme-accent);
}
