.swatchContainer {
  border-radius: var(--context-border-radius);
  border: var(--context-border);
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  overflow: hidden;
}

.swatch {
  display: grid;
  grid-column-end: span 2;
  overflow: hidden;
  padding: 0.5lh;
  place-items: center;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
