.table {
  width: 100%;
}
.table th,
.table td {
  background: var(--theme-background);
  padding: var(--size-xxs) var(--size-xs);
}
.table thead th,
.table thead td {
  color: var(--theme-muted);
  font: var(--font-annotation);
  text-transform: uppercase;
}
.table thead th,
.table thead td {
  border-bottom: var(--size-xxxxs) solid var(--theme-border);
}
.table tfoot th,
.table tfoot td {
  border-top: var(--size-xxxxs) solid var(--theme-border);
}
.table tfoot th,
.table tfoot td {
  color: var(--theme-muted);
  font: var(--font-body-italic);
}
.table.ruled tr + tr td,
.table.ruled tr + tr th {
  border-top: var(--size-xxxxs) solid var(--theme-border);
}
.table.striped tr:nth-child(2n) td {
  --theme-background: var(--color-ghost);
}

@media (prefers-color-scheme: dark) {
  .table.striped tr:nth-child(2n) td {
    --theme-background: var(--color-dune);
  }
}
