.actionList {
  background: light-dark(var(--color-gray-t9), var(--color-gray-s9));
  border-radius: 0.25rlh;
  border: 1px solid #eee;
  display: grid;
  left: anchor(left);
  position-try-fallbacks: flip-block, flip-inline;
  top: anchor(bottom);
  user-select: none;

  & > * + * {
    border-top: 1px solid #eee;
  }
}
