.action {
  --color: currentColor;
  align-items: center;
  color: var(--color);
  column-gap: 0.5ch;
  cursor: pointer;
  display: grid;
  font: var(--font-small);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  outline-color: transparent;
  text-transform: uppercase;
  transition:
    color 0.2s,
    outline-color 0.2s;

  &.dangerous {
    color: light-dark(var(--color-red-s1), var(--color-red-t1));
  }

  &.padded {
    padding: 0.5rlh 2ch;
  }

  @media screen and (hover: hover) {
    &:hover {
      color: var(--color-accent);
    }
  }

  &:focus-visible {
    border-radius: 2px;
    outline-offset: 2px;
    outline: 2px solid var(--color-accent);
  }

  &:disabled {
    cursor: not-allowed;
    color: light-dark(var(--color-gray-t2), var(--color-gray-s2));
  }
}
