.actionList {
  background: var(--context-background);
  border-radius: var(--context-border-radius);
  border: var(--context-border);
  display: grid;
  left: anchor(left);
  position-try-fallbacks: flip-block, flip-inline;
  top: anchor(bottom);
  user-select: none;

  & > * + * {
    border-top: var(--context-border);
  }
}
