:root {
  /**********/
  /* config */
  /**********/

  /* typefaces */

  --config-brand-typeface: system-ui, sans-serif;
  --config-system-typeface: system-ui, sans-serif;
  --config-monospace-typeface: monospace;

  /* sizes */

  --config-hero-font-size: 36px;
  --config-hero-line-height: 45px;

  --config-title-font-size: 44px;
  --config-title-line-height: 55px;

  --config-heading-font-size: 28px;
  --config-heading-line-height: 35px;

  --config-subheading-font-size: 20px;
  --config-subheading-line-height: 25px;

  --config-regular-font-size: 16px;
  --config-regular-line-height: 24px;

  --config-small-font-size: 14px;
  --config-small-line-height: 21px;

  --config-tiny-font-size: 12px;
  --config-tiny-line-height: 18px;

  /* colors */

  --config-brand-color-l: 0.83;
  --config-brand-color-c: 0.1969;
  --config-brand-color-h: 78.21;

  --config-shades-l: 0.8;
  --config-shades-c: 0.84;
  --config-tints-l: 0.75;
  --config-tints-c: 0.66;

  --config-gray-c: 0.002;

  /* width */

  --config-page-width: 80rch;

  /*************/
  /* variables */
  /*************/

  /* fonts */

  --font-hero: normal 400 var(--config-hero-font-size) / var(--config-hero-line-height) var(--config-system-typeface);

  --font-title: normal 700 var(--config-title-font-size) / var(--config-title-line-height) var(--config-brand-typeface);
  --font-heading:
    normal 700 var(--config-heading-font-size) / var(--config-heading-line-height) var(--config-brand-typeface);
  --font-subheading:
    normal 700 var(--config-subheading-font-size) / var(--config-subheading-line-height) var(--config-brand-typeface);

  --font-regular:
    normal 400 var(--config-regular-font-size) / var(--config-regular-line-height) var(--config-system-typeface);
  --font-regular-bold:
    normal 700 var(--config-regular-font-size) / var(--config-regular-line-height) var(--config-system-typeface);
  --font-regular-italic:
    italic 400 var(--config-regular-font-size) / var(--config-regular-line-height) var(--config-system-typeface);
  --font-regular-bold-italic:
    italic 700 var(--config-regular-font-size) / var(--config-regular-line-height) var(--config-system-typeface);
  --font-regular-monospace:
    normal 400 var(--config-regular-font-size) / var(--config-regular-line-height) var(--config-monospace-typeface);

  --font-small:
    normal 400 var(--config-small-font-size) / var(--config-small-line-height) var(--config-system-typeface);
  --font-small-bold:
    normal 700 var(--config-small-font-size) / var(--config-small-line-height) var(--config-system-typeface);
  --font-small-italic:
    italic 400 var(--config-small-font-size) / var(--config-small-line-height) var(--config-system-typeface);
  --font-small-bold-italic:
    italic 700 var(--config-small-font-size) / var(--config-small-line-height) var(--config-system-typeface);
  --font-small-monospace:
    normal 400 var(--config-small-font-size) / var(--config-small-line-height) var(--config-monospace-typeface);

  --font-tiny: normal 400 var(--config-tiny-font-size) / var(--config-tiny-line-height) var(--config-system-typeface);
  --font-tiny-bold:
    normal 700 var(--config-tiny-font-size) / var(--config-tiny-line-height) var(--config-system-typeface);
  --font-tiny-italic:
    italic 400 var(--config-tiny-font-size) / var(--config-tiny-line-height) var(--config-system-typeface);
  --font-tiny-bold-italic:
    italic 700 var(--config-tiny-font-size) / var(--config-tiny-line-height) var(--config-system-typeface);
  --font-tiny-monospace:
    normal 400 var(--config-tiny-font-size) / var(--config-tiny-line-height) var(--config-monospace-typeface);

  /* colors */

  --color-white: oklch(1 var(--config-gray-c) var(--config-brand-color-h));
  --color-black: oklch(0 var(--config-gray-c) var(--config-brand-color-h));

  --color-accent: oklch(var(--config-brand-color-l) var(--config-brand-color-c) var(--config-brand-color-h));
  --color-contrast: oklch(from var(--color-accent) clamp(0, (l / 0.623 - 1) * -infinity, 1) 0 h);

  --color-s9-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.1 * var(--config-shades-l));
  --color-s8-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.2 * var(--config-shades-l));
  --color-s7-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.3 * var(--config-shades-l));
  --color-s6-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.4 * var(--config-shades-l));
  --color-s5-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.5 * var(--config-shades-l));
  --color-s4-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.6 * var(--config-shades-l));
  --color-s3-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.7 * var(--config-shades-l));
  --color-s2-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.8 * var(--config-shades-l));
  --color-s1-l: calc(0 - (0 - var(--config-brand-color-l)) * 0.9 * var(--config-shades-l));
  --color-00-l: var(--config-brand-color-l);
  --color-t1-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.9 * var(--config-tints-l));
  --color-t2-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.8 * var(--config-tints-l));
  --color-t3-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.7 * var(--config-tints-l));
  --color-t4-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.6 * var(--config-tints-l));
  --color-t5-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.5 * var(--config-tints-l));
  --color-t6-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.4 * var(--config-tints-l));
  --color-t7-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.3 * var(--config-tints-l));
  --color-t8-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.2 * var(--config-tints-l));
  --color-t9-l: calc(1 - (1 - var(--config-brand-color-l)) * 0.1 * var(--config-tints-l));

  --color-s9-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 9));
  --color-s8-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 8));
  --color-s7-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 7));
  --color-s6-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 6));
  --color-s5-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 5));
  --color-s4-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 4));
  --color-s3-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 3));
  --color-s2-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 2));
  --color-s1-c: calc(var(--config-brand-color-c) * pow(var(--config-shades-c), 1));
  --color-00-c: var(--config-brand-color-c);
  --color-t1-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 1));
  --color-t2-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 2));
  --color-t3-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 3));
  --color-t4-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 4));
  --color-t5-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 5));
  --color-t6-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 6));
  --color-t7-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 7));
  --color-t8-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 8));
  --color-t9-c: calc(var(--config-brand-color-c) * pow(var(--config-tints-c), 9));

  --color-gray-s9: oklch(var(--color-s9-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s8: oklch(var(--color-s8-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s7: oklch(var(--color-s7-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s6: oklch(var(--color-s6-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s5: oklch(var(--color-s5-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s4: oklch(var(--color-s4-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s3: oklch(var(--color-s3-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s2: oklch(var(--color-s2-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-s1: oklch(var(--color-s1-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-00: oklch(var(--color-00-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t1: oklch(var(--color-t1-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t2: oklch(var(--color-t2-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t3: oklch(var(--color-t3-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t4: oklch(var(--color-t4-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t5: oklch(var(--color-t5-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t6: oklch(var(--color-t6-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t7: oklch(var(--color-t7-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t8: oklch(var(--color-t8-l) var(--config-gray-c) var(--config-brand-color-h));
  --color-gray-t9: oklch(var(--color-t9-l) var(--config-gray-c) var(--config-brand-color-h));

  --color-red-h: calc(mod(var(--config-brand-color-h), 36) + (0 * 36));
  --color-orange-h: calc(mod(var(--config-brand-color-h), 36) + (1 * 36));
  --color-yellow-h: calc(mod(var(--config-brand-color-h), 36) + (2 * 36));
  --color-lime-h: calc(mod(var(--config-brand-color-h), 36) + (3 * 36));
  --color-green-h: calc(mod(var(--config-brand-color-h), 36) + (4 * 36));
  --color-teal-h: calc(mod(var(--config-brand-color-h), 36) + (5 * 36));
  --color-cyan-h: calc(mod(var(--config-brand-color-h), 36) + (6 * 36));
  --color-blue-h: calc(mod(var(--config-brand-color-h), 36) + (7 * 36));
  --color-violet-h: calc(mod(var(--config-brand-color-h), 36) + (8 * 36));
  --color-magenta-h: calc(mod(var(--config-brand-color-h), 36) + (9 * 36));

  --color-red-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-red-h));
  --color-red-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-red-h));
  --color-red-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-red-h));
  --color-red-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-red-h));
  --color-red-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-red-h));
  --color-red-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-red-h));
  --color-red-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-red-h));
  --color-red-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-red-h));
  --color-red-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-red-h));
  --color-red-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-red-h));
  --color-red-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-red-h));
  --color-red-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-red-h));
  --color-red-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-red-h));
  --color-red-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-red-h));
  --color-red-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-red-h));
  --color-red-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-red-h));
  --color-red-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-red-h));
  --color-red-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-red-h));
  --color-red-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-red-h));

  --color-orange-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-orange-h));
  --color-orange-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-orange-h));
  --color-orange-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-orange-h));
  --color-orange-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-orange-h));
  --color-orange-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-orange-h));
  --color-orange-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-orange-h));
  --color-orange-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-orange-h));
  --color-orange-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-orange-h));
  --color-orange-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-orange-h));
  --color-orange-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-orange-h));
  --color-orange-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-orange-h));
  --color-orange-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-orange-h));
  --color-orange-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-orange-h));
  --color-orange-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-orange-h));
  --color-orange-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-orange-h));
  --color-orange-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-orange-h));
  --color-orange-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-orange-h));
  --color-orange-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-orange-h));
  --color-orange-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-orange-h));

  --color-yellow-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-yellow-h));
  --color-yellow-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-yellow-h));
  --color-yellow-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-yellow-h));
  --color-yellow-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-yellow-h));
  --color-yellow-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-yellow-h));
  --color-yellow-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-yellow-h));
  --color-yellow-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-yellow-h));
  --color-yellow-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-yellow-h));
  --color-yellow-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-yellow-h));
  --color-yellow-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-yellow-h));
  --color-yellow-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-yellow-h));
  --color-yellow-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-yellow-h));
  --color-yellow-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-yellow-h));
  --color-yellow-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-yellow-h));
  --color-yellow-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-yellow-h));
  --color-yellow-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-yellow-h));
  --color-yellow-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-yellow-h));
  --color-yellow-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-yellow-h));
  --color-yellow-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-yellow-h));

  --color-lime-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-lime-h));
  --color-lime-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-lime-h));
  --color-lime-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-lime-h));
  --color-lime-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-lime-h));
  --color-lime-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-lime-h));
  --color-lime-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-lime-h));
  --color-lime-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-lime-h));
  --color-lime-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-lime-h));
  --color-lime-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-lime-h));
  --color-lime-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-lime-h));
  --color-lime-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-lime-h));
  --color-lime-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-lime-h));
  --color-lime-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-lime-h));
  --color-lime-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-lime-h));
  --color-lime-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-lime-h));
  --color-lime-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-lime-h));
  --color-lime-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-lime-h));
  --color-lime-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-lime-h));
  --color-lime-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-lime-h));

  --color-green-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-green-h));
  --color-green-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-green-h));
  --color-green-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-green-h));
  --color-green-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-green-h));
  --color-green-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-green-h));
  --color-green-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-green-h));
  --color-green-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-green-h));
  --color-green-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-green-h));
  --color-green-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-green-h));
  --color-green-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-green-h));
  --color-green-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-green-h));
  --color-green-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-green-h));
  --color-green-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-green-h));
  --color-green-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-green-h));
  --color-green-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-green-h));
  --color-green-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-green-h));
  --color-green-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-green-h));
  --color-green-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-green-h));
  --color-green-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-green-h));

  --color-teal-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-teal-h));
  --color-teal-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-teal-h));
  --color-teal-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-teal-h));
  --color-teal-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-teal-h));
  --color-teal-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-teal-h));
  --color-teal-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-teal-h));
  --color-teal-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-teal-h));
  --color-teal-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-teal-h));
  --color-teal-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-teal-h));
  --color-teal-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-teal-h));
  --color-teal-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-teal-h));
  --color-teal-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-teal-h));
  --color-teal-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-teal-h));
  --color-teal-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-teal-h));
  --color-teal-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-teal-h));
  --color-teal-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-teal-h));
  --color-teal-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-teal-h));
  --color-teal-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-teal-h));
  --color-teal-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-teal-h));

  --color-cyan-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-cyan-h));
  --color-cyan-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-cyan-h));
  --color-cyan-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-cyan-h));
  --color-cyan-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-cyan-h));
  --color-cyan-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-cyan-h));
  --color-cyan-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-cyan-h));
  --color-cyan-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-cyan-h));
  --color-cyan-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-cyan-h));
  --color-cyan-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-cyan-h));
  --color-cyan-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-cyan-h));
  --color-cyan-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-cyan-h));
  --color-cyan-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-cyan-h));
  --color-cyan-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-cyan-h));
  --color-cyan-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-cyan-h));
  --color-cyan-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-cyan-h));
  --color-cyan-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-cyan-h));
  --color-cyan-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-cyan-h));
  --color-cyan-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-cyan-h));
  --color-cyan-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-cyan-h));

  --color-blue-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-blue-h));
  --color-blue-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-blue-h));
  --color-blue-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-blue-h));
  --color-blue-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-blue-h));
  --color-blue-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-blue-h));
  --color-blue-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-blue-h));
  --color-blue-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-blue-h));
  --color-blue-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-blue-h));
  --color-blue-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-blue-h));
  --color-blue-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-blue-h));
  --color-blue-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-blue-h));
  --color-blue-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-blue-h));
  --color-blue-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-blue-h));
  --color-blue-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-blue-h));
  --color-blue-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-blue-h));
  --color-blue-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-blue-h));
  --color-blue-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-blue-h));
  --color-blue-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-blue-h));
  --color-blue-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-blue-h));

  --color-violet-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-violet-h));
  --color-violet-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-violet-h));
  --color-violet-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-violet-h));
  --color-violet-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-violet-h));
  --color-violet-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-violet-h));
  --color-violet-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-violet-h));
  --color-violet-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-violet-h));
  --color-violet-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-violet-h));
  --color-violet-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-violet-h));
  --color-violet-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-violet-h));
  --color-violet-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-violet-h));
  --color-violet-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-violet-h));
  --color-violet-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-violet-h));
  --color-violet-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-violet-h));
  --color-violet-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-violet-h));
  --color-violet-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-violet-h));
  --color-violet-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-violet-h));
  --color-violet-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-violet-h));
  --color-violet-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-violet-h));

  --color-magenta-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-magenta-h));
  --color-magenta-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-magenta-h));
  --color-magenta-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-magenta-h));
  --color-magenta-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-magenta-h));
  --color-magenta-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-magenta-h));
  --color-magenta-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-magenta-h));
  --color-magenta-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-magenta-h));
  --color-magenta-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-magenta-h));
  --color-magenta-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-magenta-h));
  --color-magenta-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-magenta-h));
  --color-magenta-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-magenta-h));
  --color-magenta-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-magenta-h));
  --color-magenta-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-magenta-h));
  --color-magenta-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-magenta-h));
  --color-magenta-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-magenta-h));
  --color-magenta-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-magenta-h));
  --color-magenta-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-magenta-h));
  --color-magenta-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-magenta-h));
  --color-magenta-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-magenta-h));

  /* spaces */

  --space-p4: calc(1rlh * pow(1 + 1 / 3, 4));
  --space-p3: calc(1rlh * pow(1 + 1 / 3, 3));
  --space-p2: calc(1rlh * pow(1 + 1 / 3, 2));
  --space-p1: calc(1rlh * pow(1 + 1 / 3, 1));
  --space-00: 1rlh;
  --space-n1: calc(1rlh * pow(1 - 1 / 3, 1));
  --space-n2: calc(1rlh * pow(1 - 1 / 3, 2));
  --space-n3: calc(1rlh * pow(1 - 1 / 3, 3));
  --space-n4: calc(1rlh * pow(1 - 1 / 3, 4));

  /* widths */

  --width-tiny: calc(var(--config-page-width) * 1 / 3);
  --width-small: calc(var(--config-page-width) * 2 / 3);
  --width-medium: var(--config-page-width);
  --width-large: calc(var(--config-page-width) * 5 / 3);
  --width-huge: calc(var(--config-page-width) * 8 / 3);

  /* context */

  --context-background: light-dark(var(--color-gray-t9), var(--color-gray-s9));
  --context-body-font: var(--font-regular);
  --context-border-radius: var(--space-00);
  --context-border: 1px solid light-dark(var(--color-gray-t5), var(--color-gray-s7));
  --context-color: light-dark(var(--color-black), var(--color-white));
  --context-heading-font: var(--font-heading);
  --context-spacing: var(--space-p3);
}

:root {
  accent-color: var(--color-accent);
  background: light-dark(var(--color-gray-t8), var(--color-gray-s8));
  color-scheme: light dark;
  color: var(--context-color);
  font: var(--font-regular);
}

body:has(dialog[open]) {
  overflow: hidden;
}

[popover] {
  position: fixed;
  &:not(:popover-open) {
    display: none;
  }
}
