:root {
  /* sizes */

  --size-hero-font: 36px;
  --size-hero-line: 45px;

  --size-title-font: 44px;
  --size-title-line: 55px;

  --size-heading-font: 28px;
  --size-heading-line: 35px;

  --size-subheading-font: 20px;
  --size-subheading-line: 25px;

  --size-regular-font: 16px;
  --size-regular-line: 24px;

  --size-small-font: 14px;
  --size-small-line: 21px;

  --size-tiny-font: 12px;
  --size-tiny-line: 18px;

  /* typefaces */

  --typeface-brand: system-ui, sans-serif;
  --typeface-system: system-ui, sans-serif;
  --typeface-monospace: monospace;

  /* fonts */

  --font-hero: normal 400 var(--size-hero-font) / var(--size-hero-line) var(--typeface-system);

  --font-title: normal 700 var(--size-title-font) / var(--size-title-line) var(--typeface-brand);
  --font-heading: normal 700 var(--size-heading-font) / var(--size-heading-line) var(--typeface-brand);
  --font-subheading: normal 700 var(--size-subheading-font) / var(--size-subheading-line) var(--typeface-brand);

  --font-regular: normal 400 var(--size-regular-font) / var(--size-regular-line) var(--typeface-system);
  --font-regular-bold: normal 700 var(--size-regular-font) / var(--size-regular-line) var(--typeface-system);
  --font-regular-italic: italic 400 var(--size-regular-font) / var(--size-regular-line) var(--typeface-system);
  --font-regular-bold-italic: italic 700 var(--size-regular-font) / var(--size-regular-line) var(--typeface-system);
  --font-regular-monospace: normal 400 var(--size-regular-font) / var(--size-regular-line) var(--typeface-monospace);

  --font-small: normal 400 var(--size-small-font) / var(--size-small-line) var(--typeface-system);
  --font-small-bold: normal 700 var(--size-small-font) / var(--size-small-line) var(--typeface-system);
  --font-small-italic: italic 400 var(--size-small-font) / var(--size-small-line) var(--typeface-system);
  --font-small-bold-italic: italic 700 var(--size-small-font) / var(--size-small-line) var(--typeface-system);
  --font-small-monospace: normal 400 var(--size-small-font) / var(--size-small-line) var(--typeface-monospace);

  --font-tiny: normal 400 var(--size-tiny-font) / var(--size-tiny-line) var(--typeface-system);
  --font-tiny-bold: normal 700 var(--size-tiny-font) / var(--size-tiny-line) var(--typeface-system);
  --font-tiny-italic: italic 400 var(--size-tiny-font) / var(--size-tiny-line) var(--typeface-system);
  --font-tiny-bold-italic: italic 700 var(--size-tiny-font) / var(--size-tiny-line) var(--typeface-system);
  --font-tiny-monospace: normal 400 var(--size-tiny-font) / var(--size-tiny-line) var(--typeface-monospace);

  /* color */

  --key-color-l: 0.83;
  --key-color-c: 0.1969;
  --key-color-h: 78.21;

  --shades-l-coefficient: 0.83;
  --shades-c-coefficient: 0.84;

  --tints-l-coefficient: 0.73;
  --tints-c-coefficient: 0.66;

  --gray-c: 0.002;

  --color-white: #fff;
  --color-black: #000;

  --color-accent: oklch(var(--key-color-l) var(--key-color-c) var(--key-color-h));
  --color-contrast: oklch(from var(--color-accent) clamp(0, (l / 0.623 - 1) * -infinity, 1) 0 h);

  --color-s9-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 9));
  --color-s8-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 8));
  --color-s7-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 7));
  --color-s6-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 6));
  --color-s5-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 5));
  --color-s4-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 4));
  --color-s3-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 3));
  --color-s2-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 2));
  --color-s1-l: calc(0 - (0 - var(--key-color-l)) * pow(var(--shades-l-coefficient), 1));
  --color-00-l: var(--key-color-l);
  --color-t1-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 1));
  --color-t2-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 2));
  --color-t3-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 3));
  --color-t4-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 4));
  --color-t5-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 5));
  --color-t6-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 6));
  --color-t7-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 7));
  --color-t8-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 8));
  --color-t9-l: calc(1 - (1 - var(--key-color-l)) * pow(var(--tints-l-coefficient), 9));

  --color-s9-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 9));
  --color-s8-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 8));
  --color-s7-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 7));
  --color-s6-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 6));
  --color-s5-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 5));
  --color-s4-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 4));
  --color-s3-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 3));
  --color-s2-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 2));
  --color-s1-c: calc(var(--key-color-c) * pow(var(--shades-c-coefficient), 1));
  --color-00-c: var(--key-color-c);
  --color-t1-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 1));
  --color-t2-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 2));
  --color-t3-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 3));
  --color-t4-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 4));
  --color-t5-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 5));
  --color-t6-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 6));
  --color-t7-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 7));
  --color-t8-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 8));
  --color-t9-c: calc(var(--key-color-c) * pow(var(--tints-c-coefficient), 9));

  --color-gray-s9: oklch(var(--color-s9-l) var(--gray-c) var(--key-color-h));
  --color-gray-s8: oklch(var(--color-s8-l) var(--gray-c) var(--key-color-h));
  --color-gray-s7: oklch(var(--color-s7-l) var(--gray-c) var(--key-color-h));
  --color-gray-s6: oklch(var(--color-s6-l) var(--gray-c) var(--key-color-h));
  --color-gray-s5: oklch(var(--color-s5-l) var(--gray-c) var(--key-color-h));
  --color-gray-s4: oklch(var(--color-s4-l) var(--gray-c) var(--key-color-h));
  --color-gray-s3: oklch(var(--color-s3-l) var(--gray-c) var(--key-color-h));
  --color-gray-s2: oklch(var(--color-s2-l) var(--gray-c) var(--key-color-h));
  --color-gray-s1: oklch(var(--color-s1-l) var(--gray-c) var(--key-color-h));
  --color-gray-00: oklch(var(--color-00-l) var(--gray-c) var(--key-color-h));
  --color-gray-t1: oklch(var(--color-t1-l) var(--gray-c) var(--key-color-h));
  --color-gray-t2: oklch(var(--color-t2-l) var(--gray-c) var(--key-color-h));
  --color-gray-t3: oklch(var(--color-t3-l) var(--gray-c) var(--key-color-h));
  --color-gray-t4: oklch(var(--color-t4-l) var(--gray-c) var(--key-color-h));
  --color-gray-t5: oklch(var(--color-t5-l) var(--gray-c) var(--key-color-h));
  --color-gray-t6: oklch(var(--color-t6-l) var(--gray-c) var(--key-color-h));
  --color-gray-t7: oklch(var(--color-t7-l) var(--gray-c) var(--key-color-h));
  --color-gray-t8: oklch(var(--color-t8-l) var(--gray-c) var(--key-color-h));
  --color-gray-t9: oklch(var(--color-t9-l) var(--gray-c) var(--key-color-h));

  --color-red-h: calc(mod(var(--key-color-h), 36) + (0 * 36));
  --color-orange-h: calc(mod(var(--key-color-h), 36) + (1 * 36));
  --color-yellow-h: calc(mod(var(--key-color-h), 36) + (2 * 36));
  --color-lime-h: calc(mod(var(--key-color-h), 36) + (3 * 36));
  --color-green-h: calc(mod(var(--key-color-h), 36) + (4 * 36));
  --color-teal-h: calc(mod(var(--key-color-h), 36) + (5 * 36));
  --color-cyan-h: calc(mod(var(--key-color-h), 36) + (6 * 36));
  --color-blue-h: calc(mod(var(--key-color-h), 36) + (7 * 36));
  --color-violet-h: calc(mod(var(--key-color-h), 36) + (8 * 36));
  --color-magenta-h: calc(mod(var(--key-color-h), 36) + (9 * 36));

  --color-red-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-red-h));
  --color-red-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-red-h));
  --color-red-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-red-h));
  --color-red-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-red-h));
  --color-red-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-red-h));
  --color-red-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-red-h));
  --color-red-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-red-h));
  --color-red-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-red-h));
  --color-red-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-red-h));
  --color-red-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-red-h));
  --color-red-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-red-h));
  --color-red-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-red-h));
  --color-red-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-red-h));
  --color-red-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-red-h));
  --color-red-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-red-h));
  --color-red-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-red-h));
  --color-red-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-red-h));
  --color-red-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-red-h));
  --color-red-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-red-h));

  --color-orange-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-orange-h));
  --color-orange-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-orange-h));
  --color-orange-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-orange-h));
  --color-orange-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-orange-h));
  --color-orange-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-orange-h));
  --color-orange-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-orange-h));
  --color-orange-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-orange-h));
  --color-orange-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-orange-h));
  --color-orange-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-orange-h));
  --color-orange-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-orange-h));
  --color-orange-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-orange-h));
  --color-orange-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-orange-h));
  --color-orange-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-orange-h));
  --color-orange-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-orange-h));
  --color-orange-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-orange-h));
  --color-orange-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-orange-h));
  --color-orange-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-orange-h));
  --color-orange-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-orange-h));
  --color-orange-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-orange-h));

  --color-yellow-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-yellow-h));
  --color-yellow-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-yellow-h));
  --color-yellow-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-yellow-h));
  --color-yellow-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-yellow-h));
  --color-yellow-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-yellow-h));
  --color-yellow-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-yellow-h));
  --color-yellow-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-yellow-h));
  --color-yellow-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-yellow-h));
  --color-yellow-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-yellow-h));
  --color-yellow-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-yellow-h));
  --color-yellow-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-yellow-h));
  --color-yellow-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-yellow-h));
  --color-yellow-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-yellow-h));
  --color-yellow-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-yellow-h));
  --color-yellow-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-yellow-h));
  --color-yellow-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-yellow-h));
  --color-yellow-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-yellow-h));
  --color-yellow-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-yellow-h));
  --color-yellow-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-yellow-h));

  --color-lime-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-lime-h));
  --color-lime-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-lime-h));
  --color-lime-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-lime-h));
  --color-lime-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-lime-h));
  --color-lime-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-lime-h));
  --color-lime-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-lime-h));
  --color-lime-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-lime-h));
  --color-lime-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-lime-h));
  --color-lime-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-lime-h));
  --color-lime-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-lime-h));
  --color-lime-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-lime-h));
  --color-lime-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-lime-h));
  --color-lime-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-lime-h));
  --color-lime-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-lime-h));
  --color-lime-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-lime-h));
  --color-lime-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-lime-h));
  --color-lime-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-lime-h));
  --color-lime-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-lime-h));
  --color-lime-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-lime-h));

  --color-green-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-green-h));
  --color-green-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-green-h));
  --color-green-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-green-h));
  --color-green-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-green-h));
  --color-green-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-green-h));
  --color-green-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-green-h));
  --color-green-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-green-h));
  --color-green-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-green-h));
  --color-green-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-green-h));
  --color-green-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-green-h));
  --color-green-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-green-h));
  --color-green-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-green-h));
  --color-green-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-green-h));
  --color-green-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-green-h));
  --color-green-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-green-h));
  --color-green-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-green-h));
  --color-green-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-green-h));
  --color-green-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-green-h));
  --color-green-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-green-h));

  --color-teal-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-teal-h));
  --color-teal-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-teal-h));
  --color-teal-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-teal-h));
  --color-teal-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-teal-h));
  --color-teal-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-teal-h));
  --color-teal-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-teal-h));
  --color-teal-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-teal-h));
  --color-teal-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-teal-h));
  --color-teal-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-teal-h));
  --color-teal-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-teal-h));
  --color-teal-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-teal-h));
  --color-teal-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-teal-h));
  --color-teal-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-teal-h));
  --color-teal-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-teal-h));
  --color-teal-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-teal-h));
  --color-teal-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-teal-h));
  --color-teal-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-teal-h));
  --color-teal-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-teal-h));
  --color-teal-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-teal-h));

  --color-cyan-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-cyan-h));
  --color-cyan-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-cyan-h));
  --color-cyan-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-cyan-h));
  --color-cyan-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-cyan-h));
  --color-cyan-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-cyan-h));
  --color-cyan-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-cyan-h));
  --color-cyan-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-cyan-h));
  --color-cyan-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-cyan-h));
  --color-cyan-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-cyan-h));
  --color-cyan-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-cyan-h));
  --color-cyan-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-cyan-h));
  --color-cyan-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-cyan-h));
  --color-cyan-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-cyan-h));
  --color-cyan-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-cyan-h));
  --color-cyan-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-cyan-h));
  --color-cyan-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-cyan-h));
  --color-cyan-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-cyan-h));
  --color-cyan-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-cyan-h));
  --color-cyan-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-cyan-h));

  --color-blue-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-blue-h));
  --color-blue-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-blue-h));
  --color-blue-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-blue-h));
  --color-blue-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-blue-h));
  --color-blue-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-blue-h));
  --color-blue-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-blue-h));
  --color-blue-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-blue-h));
  --color-blue-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-blue-h));
  --color-blue-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-blue-h));
  --color-blue-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-blue-h));
  --color-blue-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-blue-h));
  --color-blue-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-blue-h));
  --color-blue-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-blue-h));
  --color-blue-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-blue-h));
  --color-blue-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-blue-h));
  --color-blue-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-blue-h));
  --color-blue-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-blue-h));
  --color-blue-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-blue-h));
  --color-blue-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-blue-h));

  --color-violet-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-violet-h));
  --color-violet-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-violet-h));
  --color-violet-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-violet-h));
  --color-violet-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-violet-h));
  --color-violet-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-violet-h));
  --color-violet-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-violet-h));
  --color-violet-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-violet-h));
  --color-violet-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-violet-h));
  --color-violet-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-violet-h));
  --color-violet-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-violet-h));
  --color-violet-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-violet-h));
  --color-violet-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-violet-h));
  --color-violet-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-violet-h));
  --color-violet-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-violet-h));
  --color-violet-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-violet-h));
  --color-violet-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-violet-h));
  --color-violet-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-violet-h));
  --color-violet-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-violet-h));
  --color-violet-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-violet-h));

  --color-magenta-s9: oklch(var(--color-s9-l) var(--color-s9-c) var(--color-magenta-h));
  --color-magenta-s8: oklch(var(--color-s8-l) var(--color-s8-c) var(--color-magenta-h));
  --color-magenta-s7: oklch(var(--color-s7-l) var(--color-s7-c) var(--color-magenta-h));
  --color-magenta-s6: oklch(var(--color-s6-l) var(--color-s6-c) var(--color-magenta-h));
  --color-magenta-s5: oklch(var(--color-s5-l) var(--color-s5-c) var(--color-magenta-h));
  --color-magenta-s4: oklch(var(--color-s4-l) var(--color-s4-c) var(--color-magenta-h));
  --color-magenta-s3: oklch(var(--color-s3-l) var(--color-s3-c) var(--color-magenta-h));
  --color-magenta-s2: oklch(var(--color-s2-l) var(--color-s2-c) var(--color-magenta-h));
  --color-magenta-s1: oklch(var(--color-s1-l) var(--color-s1-c) var(--color-magenta-h));
  --color-magenta-00: oklch(var(--color-00-l) var(--color-00-c) var(--color-magenta-h));
  --color-magenta-t1: oklch(var(--color-t1-l) var(--color-t1-c) var(--color-magenta-h));
  --color-magenta-t2: oklch(var(--color-t2-l) var(--color-t2-c) var(--color-magenta-h));
  --color-magenta-t3: oklch(var(--color-t3-l) var(--color-t3-c) var(--color-magenta-h));
  --color-magenta-t4: oklch(var(--color-t4-l) var(--color-t4-c) var(--color-magenta-h));
  --color-magenta-t5: oklch(var(--color-t5-l) var(--color-t5-c) var(--color-magenta-h));
  --color-magenta-t6: oklch(var(--color-t6-l) var(--color-t6-c) var(--color-magenta-h));
  --color-magenta-t7: oklch(var(--color-t7-l) var(--color-t7-c) var(--color-magenta-h));
  --color-magenta-t8: oklch(var(--color-t8-l) var(--color-t8-c) var(--color-magenta-h));
  --color-magenta-t9: oklch(var(--color-t9-l) var(--color-t9-c) var(--color-magenta-h));

  /* spaces */

  --space-p3: calc(1rlh * pow(1 + 1 / 3, 3));
  --space-p2: calc(1rlh * pow(1 + 1 / 3, 2));
  --space-p1: calc(1rlh * pow(1 + 1 / 3, 1));
  --space-00: 1rlh;
  --space-n1: calc(1rlh * pow(1 - 1 / 3, 1));
  --space-n2: calc(1rlh * pow(1 - 1 / 3, 2));
  --space-n3: calc(1rlh * pow(1 - 1 / 3, 3));

  /* widths */

  --width-narrow: 20rlh;
  --width-medium: 40rlh;
  --width-wide: 60rlh;
}

:root {
  accent-color: var(--color-accent);
  background: light-dark(var(--color-gray-t7), var(--color-gray-s7));
  color-scheme: light dark;
  color: light-dark(var(--color-black), var(--color-white));
  font: var(--font-regular);
}

body:has(dialog[open]) {
  overflow: hidden;
}

[popover] {
  position: fixed;
  &:not(:popover-open) {
    display: none;
  }
}
