.container {
  display: grid;
  font: var(--context-body-font);
  grid-auto-columns: minmax(min-content, auto);
  grid-auto-rows: minmax(min-content, auto);

  &.indent {
    padding-left: var(--context-spacing);
  }
}
