.button {
  --dangerous-color: light-dark(var(--color-red-s2), var(--color-red-s3));

  cursor: pointer;
  display: inline-block;
  background: light-dark(var(--color-gray-t2), var(--color-gray-s2));
  border-radius: 0.25rlh;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  color: light-dark(var(--color-black), var(--color-white));
  font: var(--font-regular-bold);
  outline-color: transparent;
  padding: 0.5rlh 2ch;
  text-align: center;
  transition:
    box-shadow 0.2s,
    outline-color 0.2s,
    transform 0.2s;

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--color-accent);
    text-decoration: unset;
  }

  &.submit {
    background: var(--color-accent);
    color: var(--color-contrast);
  }

  &.dangerous {
    background: var(--dangerous-color);
    color: var(--color-white);
  }

  &:disabled {
    color: light-dark(var(--color-gray-t2), var(--color-gray-s2));
    cursor: not-allowed;
    background: light-dark(var(--color-gray-t3), var(--color-gray-s3));
    box-shadow: none;
  }
}

@media screen and (hover: hover) and (prefers-reduced-motion: no-preference) {
  .button:not(:disabled):hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  }
  .button:not(:disabled):active {
    transition: none;
    transform: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (hover: hover) and (prefers-color-scheme: dark) {
  .button {
    box-shadow: none;
  }
  .button:not(:disabled):hover {
    transform: none;
    box-shadow: 0px 0px 12px var(--color-gray-s1);
    &.submit {
      box-shadow: 0px 0px 12px var(--color-accent);
      &.dangerous {
        box-shadow: 0px 0px 12px var(--dangerous-color);
      }
    }
  }
  .button:active {
    transition: none;
    box-shadow: none;
  }
}
