.container {
  --icon-size: calc(var(--config-title-line-height) * 1.5);
  display: grid;
  grid-auto-columns: minmax(0, auto);
  grid-auto-rows: minmax(0, max-content);
  position: relative;

  .icon {
    background: var(--color-yellow-00);
    border-radius: 50%;
    color: var(--color-black);
    display: grid;
    font: var(--font-title);
    height: var(--icon-size);
    left: calc(50% - var(--icon-size) / 2);
    outline: var(--context-border);
    outline-width: 2px;
    place-content: center;
    position: absolute;
    top: calc(0% - var(--icon-size) / 2);
    width: var(--icon-size);
  }

  .content {
    background: var(--context-background);
    border: var(--context-border);
    border-radius: var(--context-border-radius);
    display: grid;
    grid-auto-columns: minmax(0, auto);
    grid-auto-rows: minmax(0, max-content);
    overflow: hidden;

    .header {
      padding: var(--context-spacing);
      border-bottom: var(--context-border);
    }

    .footer {
      border-top: var(--context-border);
      padding: var(--context-spacing);
    }
  }

  &.withIcon {
    margin-top: calc(var(--icon-size) / 2);

    .content {
      padding-top: calc(var(--icon-size) / 4);
      .header {
        padding: var(--context-spacing);
      }
    }
  }
}
