.table {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, auto));

  tbody,
  thead,
  tr {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  tr {
    column-gap: 1rlh;

    td,
    th {
      padding-block: calc(var(--context-spacing) / 2);
      display: grid;
      place-content: center stretch;

      &:first-child {
        padding-inline-start: var(--context-spacing);
      }

      &:last-child {
        padding-inline-end: var(--context-spacing);
      }
    }
  }

  thead th {
    font: var(--context-bold-font);
  }

  tbody tr {
    border-top: var(--context-border);
  }
}
