.dialog {
  --dialog-width: auto;

  .container {
    display: grid;
    grid-template-columns: minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    inset: 0;
    padding: 3rlh 1rlh;
    place-content: center;
    pointer-events: none;
    position: fixed;

    .content {
      display: inherit;
      grid-template-columns: minmax(0, var(--dialog-width));
      grid-template-rows: inherit;
      pointer-events: all;
    }
  }

  &::backdrop {
    backdrop-filter: blur(5px);
    background-color: color-mix(in oklch, var(--color-gray-s9), 20% transparent);
    position: fixed;
    inset: 0;
    transition: all 0.25s allow-discrete;
  }
}

@starting-style {
  .dialog[open]::backdrop {
    background-color: transparent;
  }
}
