.link {
  cursor: pointer;
  display: inline-flex;
  outline-color: transparent;
  text-decoration-line: underline;
  text-decoration-color: var(--color-accent);
  transition:
    color 0.2s,
    outline-color 0.2s,
    text-decoration-color 0.2s;

  @media screen and (hover: hover) {
    &:hover {
      text-decoration-color: transparent;
      color: var(--color-accent);
    }
  }

  &:focus-visible {
    border-radius: 2px;
    outline-offset: 2px;
    outline: 2px solid var(--color-accent);
    text-decoration: unset;
  }
}
