.container {
  font: var(--font-regular);

  :where(b, strong) {
    font: var(--font-regular-bold);
  }

  :where(i, em) {
    font: var(--font-regular-italic);
  }

  :where(b, strong) :where(i, em),
  :where(i, em) :where(b, strong) {
    font: var(--font-regular-bold-italic);
  }

  a {
    cursor: pointer;
    outline-color: transparent;
    text-decoration-line: underline;
    text-decoration-color: color-mix(in oklch, var(--color-accent), transparent 40%);
    text-decoration-thickness: 2px;
    transition:
      color 0.2s,
      outline-color 0.2s,
      text-decoration-color 0.2s;

    @media screen and (hover: hover) {
      &:hover {
        text-decoration-color: transparent;
        color: var(--color-accent);
      }
    }

    &:focus-visible {
      border-radius: 2px;
      outline-offset: 2px;
      outline: 2px solid var(--color-accent);
      text-decoration: unset;
    }
  }

  :where(ul, ol) {
    padding-left: 1rlh;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  hr {
    border-top: 1px solid light-dark(var(--color-gray-t3), var(--color-gray-s5));
  }

  code {
    background: light-dark(var(--color-gray-t6), var(--color-gray-s7));
    border-radius: 0.25rlh;
    font: var(--font-regular-monospace);
    padding: 0.5ch;
    tab-size: 2;
    white-space: nowrap;
  }

  & > * + * {
    margin-top: 1rlh;
  }

  & > * > * + * {
    margin-top: 0.5rlh;
  }

  & > * > * > * + * {
    margin-top: 0.25rlh;
  }

  &.small {
    font: var(--font-small);

    :where(b, strong) {
      font: var(--font-small-bold);
    }

    :where(i, em) {
      font: var(--font-small-italic);
    }

    :where(b, strong) :where(i, em),
    :where(i, em) :where(b, strong) {
      font: var(--font-small-bold-italic);
    }

    code {
      font: var(--font-small-monospace);
    }

    pre > code {
      padding: 0.5rlh;
    }

    & > * + * {
      margin-top: 0.5rlh;
    }

    & > * > * + * {
      margin-top: 0.25rlh;
    }

    & > * > * > * + * {
      margin-top: 0.125rlh;
    }
  }

  &.tiny {
    font: var(--font-tiny);

    :where(b, strong) {
      font: var(--font-tiny-bold);
    }

    :where(i, em) {
      font: var(--font-tiny-italic);
    }

    :where(b, strong) :where(i, em),
    :where(i, em) :where(b, strong) {
      font: var(--font-tiny-bold-italic);
    }

    code {
      font: var(--font-tiny-monospace);
    }

    pre > code {
      padding: 0.5rlh;
    }

    & > * + * {
      margin-top: 0.25rlh;
    }

    & > * > * + * {
      margin-top: 0.125rlh;
    }

    & > * > * > * + * {
      margin-top: 0.125rlh;
    }
  }
}
