.container {
  column-gap: calc(var(--context-spacing) * 2);
  column-rule: 1px solid light-dark(var(--color-gray-t3), var(--color-gray-s5));
  display: block;
  widows: 3;

  & > * + * {
    margin-top: var(--context-spacing);
  }

  &:not(.allowBreaks) > * {
    break-inside: avoid;
  }
}
