.container {
  column-rule: 1px solid light-dark(var(--color-gray-t3), var(--color-gray-s5));
  display: block;
  gap: 2rlh;

  & > * {
    break-inside: avoid;
  }

  & > * + * {
    margin-top: var(--gap);
  }
}
