.container {
  background: var(--context-background);
  border: var(--context-border);
  border-radius: var(--context-border-radius);
  display: grid;
  grid-template-columns: minmax(min-content, auto);
  grid-template-rows: minmax(min-content, auto);
  padding: var(--context-spacing);
  place-content: stretch;

  &.center {
    place-content: center;
  }

  &.seamless {
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
  }
}
