.container {
  display: grid;
  grid-auto-columns: minmax(0, auto);
  grid-auto-rows: minmax(0, max-content);
  row-gap: var(--context-spacing);

  &.center {
    justify-content: stretch;
    justify-items: center;
  }

  &.tiny {
    grid-template-columns: minmax(0, var(--width-tiny));
  }

  &.small {
    grid-template-columns: minmax(0, var(--width-small));
  }

  &.medium {
    grid-template-columns: minmax(0, var(--width-medium));
  }

  &.large {
    grid-template-columns: minmax(0, var(--width-large));
  }

  &.huge {
    grid-template-columns: minmax(0, var(--width-huge));
  }

  &.indent {
    padding-left: 1rlh;
  }
}
