.input {
  --shadow-color: color-mix(in oklch, var(--color-black) 20%, transparent);
  background: var(--context-background);
  border-radius: var(--context-border-radius);
  box-shadow: inset 1px 1px 3px var(--shadow-color);
  display: block;
  outline-color: transparent;
  padding: var(--context-spacing);
  transition: outline-color 0.2s;
  width: 100%;

  &:disabled {
    color: light-dark(var(--color-gray-s2), var(--color-gray-s2));
    box-shadow: none;
  }

  &::placeholder {
    color: light-dark(var(--color-gray-t3), var(--color-gray-s3));
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--color-accent);
    text-decoration: unset;
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    --shadow-color: color-mix(in oklch, var(--color-black) 80%, transparent);
  }
}

@media (prefers-contrast: more) {
  .input {
    outline: 1px solid currentColor;
  }
}
