.container {
  border-bottom: 1px solid light-dark(var(--color-gray-t3), var(--color-gray-s6));
  font: var(--font-small);

  .button {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 0.5rlh 0.5rlh calc(0.5rlh - 2px);
    transition:
      border-bottom-color 0.2s,
      color 0.2s;

    & > span {
      outline-color: transparent;
      transition: outline-color 0.2s;
    }

    &:focus-visible > span {
      border-radius: 2px;
      outline-offset: 2px;
      outline: 2px solid var(--color-accent);
    }

    @media screen and (hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }

    &.selected {
      border-bottom-color: var(--color-accent);
    }
  }
}
