.container {
  display: flex;
  gap: 0.5rlh;
}

.option {
  aspect-ratio: 1;
  background: light-dark(var(--color-gray-t2), var(--color-gray-s2));
  border-radius: 0.25rlh;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: grid;
  outline-color: transparent;
  padding: 0.25rlh;
  place-content: center;
  position: relative;
  transition:
    box-shadow 0.2s,
    outline-color 0.2s,
    transform 0.2s;
  width: 5rlh;

  .tick {
    display: none;
    left: 0.25rlh;
    position: absolute;
    top: 0.25rlh;
  }

  &:has(:checked) {
    background: var(--color-accent);
    color: var(--color-contrast);

    .tick {
      display: block;
    }
  }

  &:has(:focus-visible) {
    outline-offset: 2px;
    outline: 2px solid var(--color-accent);
    text-decoration: unset;
  }
}

@media screen and (hover: hover) and (prefers-reduced-motion: no-preference) {
  .option:not(:disabled, :has(:checked)):hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  }

  .option:not(:disabled, :has(:checked)):active {
    transition: none;
    transform: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (hover: hover) and (prefers-color-scheme: dark) {
  .option {
    box-shadow: none;
  }

  .option:not(:disabled, :has(:checked)):hover {
    transform: none;
    box-shadow: 0px 0px 12px var(--color-gray-s1);
    &.submit {
      box-shadow: 0px 0px 12px var(--color-accent);
      &.dangerous {
        box-shadow: 0px 0px 12px var(--dangerous-color);
      }
    }
  }

  .option:active {
    transition: none;
    box-shadow: none;
  }
}
